body {
	background: #567;
	color: white;
}

/* Head/navbar styling */
.title {
	font-family: sans;
	padding: 0.5em;
}
#headbar-content .title {
	float: left;
}
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 50px;
	display: inline-flex;
}
ul.navbar li {
	float: left;
}
ul.navbar li a {
	display: block;
	text-decoration: none;
	color: #99AAFF;
	padding: 0.5em;
}
ul.navbar li a:hover {
	color: #AABBFF;
	background-color: #324354
}
#headbar {
	font-family: sans;
	color: white;
	background: #234;
	overflow: hidden;
	box-shadow:
		0 2px 4px 0 rgba(0,0,0,0.16)
		0 2px 10px 0 rgba(0,0,0,0.12)!important;

	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;

	padding: 0;
	width: 100%;
}
#headbar-content {
	overflow: auto;
}
#login {
	float: right;
}

#easter-egg {
	position: fixed;
	z-index: -1;
	margin: auto;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(its-happening.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

/* Content styling */
main {
	padding: 1em;
	margin: auto;
	margin-top: 3em;
	display: block;
	max-width: 60rem;
}

#body-title {
	color: white;
	font-size: x-large;
	width: 100%;
	max-width: 60rem;
	margin: auto;
	padding: 0.2em;
}

/* Article styling */
article {
	width: 100%;
	color: white;
	background: #345;
	padding: 12px;
	box-sizing: border-box;
	margin-top: 12px;
	overflow: hidden;
}
h1 { margin: 0; }
article a, div.comment a {
	color: #FFF;
	font-style: italic;
	text-decoration: none;
}
article a:hover, div.comment a:hover {
	color: #FFF;
	text-decoration: underline;
}
a:visited {
	color: #CCC;
}
header {
	font-size: 70%;
	font-style: italic;
	font-family: sans;
	color: #AAA;
	float: left;
}
header.right {
	float: right;
}
footer {
	font-size: 80%;
	font-style: italic;
	font-family: sans;
}

/* Comment styling */
div.comment {
	width: 100%;
	color: white;
	background: #345;
	padding: 12px;
	box-sizing: border-box;
	margin-top: 12px;
}
div.comment div.comment {
	margin-left: 10px;
	margin-right: 10px;
}
div.comment h3 {
	margin: 0;
	margin-bottom: 0.1em;
}
div.comment div.time {
	color: #BBB;
	font-size: 80%;
}
div.time + p {
	margin-top: 0.5em;
}
form {
	background: #345;
	padding: 12px;
}
main > form.comment { margin-top: 12px; }
div.comment form.comment { margin-left: 12px; }
input[name="name"], input[name="title"], input[name="category"] {
	font: large bold serif;
	color: white;
	border: none;
	border-bottom: solid #AAA 2px;
	outline: none;
	background: transparent;
	transition: border-bottom-color 0.3s;
	vertical-align: bottom;
}
input[name="name"]:focus, input[name="title"]:focus, input[name="category"] {
	border-bottom: solid white 2px;
}
input[name="category"] {
	float: right;
	font: small sans;
}
textarea {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	resize: vertical;
	background: transparent;
	border: solid #AAA 1px;
	font-family: monospace;
	font-size: 11pt;
	outline: none;
	transition: border 0.3s ease-in-out;
}
textarea:focus {
	border-radius: 2px;
	border: solid white 2px;
}
.button-list {
	text-align: center;
}
div.color-ice div.time {
	color: #333!important;
}
div.color-yellow div.time {
	color: #333!important;
}
div.color-red    { background: #A71B1B; }
div.color-green  { background: #1B6546; }
div.color-blue   { background: #5454CE; }
div.color-ice    { background: #9C9CE2; color: #000!important; }
div.color-yellow { background: #DCDC1A; color: #000!important; }
div.color-brown  { background: #845534; }
div.color-purple { background: #682D68; }
ul.comment-buttons {
	list-style-type: none;
	display: block;
	padding-left: 0;
}
ul.comment-buttons li {
	display: inline-block;
	white-space: nowrap;
}
ul.comment-buttons li a {
	color: #AAA;
	text-decoration: none;
}
ul.comment-buttons li a:hover {
	text-decoration: underline;
}
